<table border="0"class="contact_table">
	<tr>
		<th>First</th>
		<th>Last</th>
		<th>Email</th>
		<th>Institute</th>
		<th>Phone</th>
		<th>Fax</th>
		<th>Address</th>
		
	</tr>
	<tr>
		<td><%= @contact.LastName %></td>
		<td><%= @contact.FirstName %></td>
		<td><%= @contact.email %></td>
		<td><%= @contact.Institute %></td>
		<td><%= @contact.telephone %></td>
		<td><%= @contact.fax %></td>
		<td><%= @contact.Address %></td>
		
		
	</tr>
</table>