<h1>Editing Argo file</h1>

<% form_for(@file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ExpoCode %><br />
    <%= f.text_field :ExpoCode %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @file %> |
<%= link_to 'Back', argo_files_path %>
