<div class="boxed">

<%= render :partial => 'argo/title', :locals => {:subtitle => 'Edit File'} %>

<div class="box_content">

<% form_for(@file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ExpoCode %><br />
    <%= f.text_field :ExpoCode %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 100, :rows => 8 %>
  </p>
  <p>
    <%= f.label :display, 'Display on Repository list' %> <%= f.check_box :display %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show this file', @file %>

</div>
<div class="box_bottom"></div>
</div>
