<div class="boxed">

<%= render :partial => 'argo/title', :locals => {:subtitle => 'New File'} %>

<div class="box_content">

<% form_for(@file, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>
        <%= f.label :ExpoCode %> <%= f.text_field :ExpoCode %>
      </td>
      <td>or</td>
      <td>
        <table>
          <tr><td><%= f.label 'Date' %> <%= date_select('argo_file', :date) %></td></tr>
          <tr><td><%= f.label 'Ship' %> <%= text_field('argo_file', :ship) %></td></tr>
        </table>
      </td>
    </tr>
  </table>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 100, :rows => 8 %>
  </p>
  <p>
    <%= f.label :display, 'Display on Repository list' %>
    <%= f.check_box :display, :checked => true %>
  </p>
  <br />
  <p>
    <%= f.label :uploaded_data, 'File to upload' %>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>
<div class="box_bottom"></div>
</div>
