<div class="boxed">

<%= render :partial => 'argo/title', :locals => {:subtitle => ' File Information'} %>

<div class="box_content">

<p>
  <b>Expocode:</b>
  <%=h @file.ExpoCode %>
</p>

<p>
  <b>Description:</b>
  <pre><%=h @file.description %></pre>
</p>

<p>
  <b>Displayed on Repository list:</b>
  <%=h @file.display %>
</p>

<p>
  <b>Filename:</b>
  <%=link_to(h(@file.filename), argo_file_get_path(@file))%>
</p>


<%= link_to 'Edit this file', edit_argo_file_path(@file) %>

</div>
<div class="box_bottom"></div>
</div>
