<div class="boxed submission confirmation">
  <% if @submission %>
    <h1>File submission by <%= h(@submission.name) %></h1>
  <% else %>
    <h1>File submission error</h1>
  <% end %>
  <div class="box_content">
    <% if @submission %>
      <dl>
        <% submitted_files = submitted_file_names(@submission.file) %>
        <dt><%= 'File'.smart_pluralize(submitted_files.length) %>:</dt>
          <dd><%= h(submitted_files.join(', ')) %></dd>
        <dt>Submission date:</dt>
          <dd><%= h(@submission.submission_date.strftime('%F %T')) || '&nbsp;' %></dd>
        <dt>Status:</dt>
          <dd><%= h(@submission.public) || '&nbsp;' %></dd>
        <dt>Action:</dt>
          <dd><%= (! @submission.action.blank?) ? h(@submission.action) : '&nbsp;' %></dd>
        <dt>Expocode:</dt>
          <dd><%= h(@submission.ExpoCode) || '&nbsp;' %></dd>
        <dt>Line:</dt>
          <dd><%= h(@submission.Line) || '&nbsp;' %></dd>
        <dt>Cruise Date:</dt>
          <dd><%= h(@submission.cruise_date) || '&nbsp;' %></dd>
        <dt>Institution:</dt>
          <dd><%= h(@submission.institute) || '&nbsp;' %></dd>
        <dt>Country:</dt>
          <dd><%= h(@submission.Country) || '&nbsp;' %></dd>
        <dt>Confirmation sent to:</dt>
          <dd><%= h(@submission.email) || '&nbsp;' %></dd>
      </dl>
    <% else %>
      <p>There was an error with your submission.</p>
      <p>Please email your submission to <a href="mailto:cchdo@ucsd.edu">cchdo@ucsd.edu</a>.</p>
    <% end %>
  </div>
  <div class="box_bottom"></div>
</div>
