<%content_for :js do%>
<%= javascript_include_tag 'slidemenu', 'withscript', :defaults -%>
<script type="text/javascript">window.onload=init;</script>
<%end-%>
<div id='content'>
<div class='boxed'>
<h1>Submit Data</h1>
<div class='box_content'>
    <noscript>
        Your browser does not have JavaScript enabled. Please visit
        <%=link_to('this page', :action => :simple)%> to make your submission or
		send your file to cberysgo@ucsd.edu.
    </noscript>

<div class="hidden">
  <% @public = ["Public", "Non Public"] %>
  <% form_for(:submission , :url =>{:action => 'save_file'},:html =>{:multipart => true}) do |form| %>
  <ul id="sf2" class="sf2">
  <li>
    <table id="step_content12" class="step_content12">
      <tr><td colspan="4" valign="top"><span class="step2">Step<span class="step_number2">1</span>:</span> <span class="step_title">Contact Information</span></td></tr>
      <tr><td valign="top">
      <table class="table_step2">
        <tr>
          <td align="left">Name (Last, First)<span class="important"> <%= error_message_on(:submission, :name) %> <sup>*</sup></span></td>
          <td align="left"><%= form.text_field :name ,:size => 15%></td>
        </tr>
        <tr>
          <td align="left">Institution<span class="important"> <%= error_message_on(:submission, :institute) %> <sup>*</sup></span></td>
          <td align="left"><%= form.text_field :institute,:size => 15%></td>
        </tr>
        <tr>
          <td align="left">Country<span class="important"><%= error_message_on(:submission, :Country) %> <sup>*</sup></span></td>
          <td align="left"><%= form.text_field :Country ,:size => 15%></td>
        </tr>
        <tr>
          <td align="left">E-mail<span class="important"> <%= error_message_on(:submission, :email) %> <sup>*</sup></span></td>
          <td align="left"><%= form.text_field :email ,:size => 15%></td>
        </tr>
        <tr><td colspan="2" align="left">Public or Non-Public?<%= error_message_on(:submission, :public) %><span class="important"><sup>*</sup></span> <%= form.radio_button :public ,"public", :checked => true %> Public <%= form.radio_button :public, "Non-Public" %> Non-Public</td></tr>
      </table></td></tr>
    </table>
  </li>
  <li>
    <table id="step_content22" class="step_content22">
      <tr><td valign="top"><span class="step2">Step<span class="step_number2">2</span>:</span> <span class="step_title">Cruise Information</span></td></tr>
      <tr><td valign="top">
        <table class="table_step2">
        <tr><td align="left">ExpoCode Or Cruise Name</td><td><%= form.text_field :ExpoCode %></td></tr>
        <tr><td align="left">WOCE Line (If Known)</td><td><%= form.text_field :Line %></td></tr>
        <tr><td align="left">Ship Name</td><td><%= form.text_field :Ship_Name %></td></tr>
        <tr><td align="left">Cruise Date</td><td><%=form.date_select :cruise_date ,:start_year=> 1970,:include_blank => true%></td></tr>
        </table>
      </td></tr>
    </table>
  </li>
  <li>
    <table id="step_content32" class="step_content32">
      <tr><td valign="top"><span class="step2">Step<span class="step_number2">3</span>:</span> <span class="step_title">Type of Submission</span></td></tr>
      <tr><td valign="top">
      <table class="table_step2">
        <tr>
          <td><%= check_box "actions","one",{},"Merge Data" %></td>                  
          <td align="left">Merge Data</td>
          <td><%= check_box "actions","two",{},"Place Online" %></td>
          <td align="left">Place Data Online</td>
        </tr>
        <tr>
          <td valign="top"><%= check_box "actions","three",{},"Updated Parameters" %></td>
          <td align="left">Update Parameters</td>
          <td valign="top"><%= check_box "actions","four",{},"Non-public data for Argo calibration (proprietary, rapid-delivery)" %></td>
          <td align="left">Non-public data for Argo calibration (proprietary, rapid-delivery)</td>
        </tr>
        <tr><td align="left" colspan="4">Notes</td></tr>
        <tr><td align="left" colspan="4"><%= form.text_area :notes ,:rows => "5", :cols =>"35"%> </td></tr>
      </table></td></tr>
    </table>  
  </li>
  <li>
    <table id="step_content42" class="step_content42">
      <tr><td valign="top"><span class="step2">Step<span class="step_number2">4</span>:</span> <span class="step_title">Data/Documentation Files</span></td></tr>
      <tr><td align="right" valign="top">
      <table class="table_step2">
        <tr><td align="left">  
          <% if @file_name -%> 
            <em><%= @file_name %></em>
            <input type="hidden" name="saved" value="<%= @file_name %>">
          <% else %>
            <%= error_message_on(:submission, :file) %> <% if @file %> <%= @file %> <% end %> <%= form.file_field :file %><!--<input type="file" name="file">-->
          <% end %>              
          </td>
          <td align="right"><a href="#">Remove this file</a></td>
        </tr>
        <tr><td colspan="2" align="left"><!--<a href="#">Add another file </a>--><br><hr></td></tr>
        <tr><td colspan="2" align="right">&nbsp;<%= submit_tag "Submit"%></td></tr>
      </table></td></tr>
    </table>
  </li>
</ul>
<% end %>

<table width="100%"><tr><td align="left"><a href="http://cchdo.ucsd.edu/CCHDO_DataSubmitGuide.pdf">Submission Guide</a> | <a href="http://cchdo.ucsd.edu/argo_submission_info.html">Argo Submission Guide</a></td><td>&nbsp;</td><td align="right">
<span class="asterisk"><sup><span class="important">*</span></sup> Indicates a required field</span></td></tr></table>
<p style="max-width: inherit;">Please fill out pertinent form fields in Steps 1 through 4 and click on "Submit" in Step 4. To advance or go back a step, click on the appropriate step number's tab.</p>
</div>
</div>
<div class='box_bottom'></div>
