<div id='content'>
<div class='boxed'>
<h1>Submit Data</h1>
<div class='box_content'>

<noscript>
  <p>
    Your browser does not have JavaScript enabled. Please visit
    <%=link_to('this page', :action => :simple)%> to make your submission or
    send your file to cberysgo@ucsd.edu.
  </p>
</noscript>

<% form_for(:submission, :html =>{:multipart => true}) do |form| %>
  <ul id="sf2" class="sf2" style="height: 0;">
    <li>
      <table id="step_content12" class="step_content12">
        <%= step_header(1, 'Contact Information') %>
        <tr>
          <td>
            <table class="table_step2">
              <tr>
                <td>Name (Last, First)<span class="important"> <sup>*</sup> <%= error_message_on(:submission, :name) %></span></td>
                <td><%= form.text_field :name, :size => 15%></td>
              </tr>
              <tr>
                <td>Institution<span class="important"> <sup>*</sup> <%= error_message_on(:submission, :institute) %></span></td>
                <td><%= form.text_field :institute, :size => 15%></td>
              </tr>
              <tr>
                <td>Country<span class="important"> <sup>*</sup> <%= error_message_on(:submission, :Country) %></span></td>
                <td><%= form.text_field :Country, :size => 15%></td>
              </tr>
              <tr>
                <td>Email<span class="important"> <sup>*</sup> <%= error_message_on(:submission, :email) %></span></td>
                <td><%= form.text_field :email, :size => 15%></td>
              </tr>
              <tr>
                <td colspan="2">
                  Public or Non-Public?<%= error_message_on(:submission, :public) %><span class="important"><sup>*</sup></span>
                  <%= form.check_box(:public, {:checked => true}, "public", "Non-Public") %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </li>
    <li>
      <table id="step_content22" class="step_content22">
        <%= step_header(2, 'Cruise Information') %>
        <tr>
          <td>
            <table class="table_step2">
            <tr><td>ExpoCode or Cruise Name</td><td><%= form.text_field :ExpoCode %></td></tr>
            <tr><td>WOCE Line (if known)</td><td><%= form.text_field :Line %></td></tr>
            <tr><td>Ship Name</td><td><%= form.text_field :Ship_Name %></td></tr>
            <tr><td>Cruise Date</td><td><%=form.date_select(:cruise_date, :start_year => 1970, :include_blank => true)%></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </li>
    <li>
      <table id="step_content32" class="step_content32">
        <%= step_header(3, 'Type of Submission') %>
        <tr>
          <td>
            <table class="table_step2">
              <tr>
                <td><%= check_box "actions","one",{},"Merge Data" %></td>
                <td>Merge Data</td>
                <td><%= check_box "actions","two",{},"Place Online" %></td>
                <td>Place Data Online</td>
              </tr>
              <tr>
                <td><%= check_box "actions","three",{},"Updated Parameters" %></td>
                <td>Update Parameters</td>
                <td><%= check_box "actions","four",{},"Non-public data for Argo calibration (proprietary, rapid-delivery)" %></td>
                <td>Non-public data for Argo calibration (proprietary, rapid-delivery)</td>
              </tr>
              <tr><td colspan="4">Notes</td></tr>
              <tr><td colspan="4"><%= form.text_area :notes, :rows => "5", :cols =>"35"%> </td></tr>
            </table>
          </td>
        </tr>
      </table>  
    </li>
    <li>
      <table id="step_content42" class="step_content42">
        <%= step_header(4, 'Data/Documentation Files') %>
        <tr>
          <td>
            <table class="table_step2">
              <tr>
                <td>
                  <% unless error_messages_for(:submission).blank? %>
                    <p class="notice" style="font-size: 0.75em !important; max-width: none !important; border-bottom: 1px solid #a0a0a0;">For your
                    protection, the files you selected previously cannot be
                    automatically reselected from your computer (prevents
                    malicious pages from uploading arbitrary files from your
                    computer). Please reselect the files. We apologize for the
                    inconvenience.</p>
                  <% end %>
                  <div id="files">
                    <p index="0"><%= form.file_field 'files[0]' %></p>
                  </div>
                </td>
              </tr>
              <tr><td colspan="2" align="right"><%= submit_tag "Submit"%></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </li>
  </ul>
<% end %>

<table width="100%">
  <tr>
    <td>
      <a href="http://cchdo.ucsd.edu/CCHDO_DataSubmitGuide.pdf">Submission Guide</a> | <a href="http://cchdo.ucsd.edu/argo_submission_info.html">Argo Submission Guide</a>
    </td>
    <td align="right">
      <span class="asterisk"><sup><span class="important">*</span></sup> Indicates a required field</span>
    </td>
  </tr>
</table>

<p style="max-width: inherit;">
  Please fill out pertinent form fields in Steps 1 through 4 and click on
  "Submit" in Step 4. To advance or go back a step, click on the appropriate step
  number's tab.
</p>
</div>

</div>
<div class='box_bottom'></div>
<% content_for :js do %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js" %>
<script type="text/javascript">
  jQuery.noConflict();
  jQuery(document).ready(function ($) {
    var files = $('#files');
    files.height(100).css('overflow-y', 'auto');
    files.find('a[title=Remove]').live('click', function () {
      $(this).parent().hide('fast', function () { $(this).remove() });
      if (files.find('p:has(:file)').length <= 1) {
        files.find('p:has(:file) a[title=Remove]').hide('fast');
      }
    });
    files.change(function () {
      $('#step_content42').find('.notice').hide('fast');
    });
    var remove_button = $('<a title="Remove" href="#">Remove</a>').hide();
    var sample_file_selector = files.find('p[index=0]').append(remove_button);
    var addButton = $('<a title="Add file" href="#">Add file</a>').click(function () {
      var i;
      for (i = 1; i < files.find('p:has(:file)').length + 1; i += 1) {
        if (files.find('p[index=' + i + ']').length < 1) {
          break;
        }
      }
      var clone = sample_file_selector.clone(true).attr('index', i).hide();
      clone.find('input')
        .attr('id', sample_file_selector.find('input').attr('id').replace('files[0]', 'files[' + i + ']'))
        .attr('name', sample_file_selector.find('input').attr('name').replace('files[0]', 'files[' + i + ']'));
      clone.appendTo(files).show('fast');
      files.trigger('change').find('p[index!=0] a[title=Remove]').show('fast');
      return false;
    });
    files.parent().append(addButton);
  });
</script>
<%= javascript_include_tag 'slidemenu', :defaults -%>
<script type="text/javascript">window.onload=function () { CCHDO.initSlideMenu(); jQuery('#sf2').animate({'height': 261}, 'fast'); };</script>
<% end -%>
