<%content_for :head do%>
<style type='text/css'>
p { padding: 0.5em; }
sup { vertical-align: top; color: red; }
input[type="text"]:focus { background-color: #ffa; }
#step1 input[type="text"] { width: 25ex; }
#step2 input[type="text"] { width: 30ex; }
h2 { margin-top: 0.5em; text-transform: uppercase; font-size: 1.5em; font-weight: bold; }
h2 em { color: #a0a0a0; font-size: 1.2em; vertical-align: text-top; margin-left: -0.2em; }
h2 span { color: #000; font-size: 0.8em; text-transform: none; font-weight: normal; }
</style>
<% end -%>

<div class="boxed">
<h1>Submit Data</h1>

<div class="box_content">

<p>
This form replaces the normal submission form for reliability with all browsers.
</p>

<p><sup>*</sup> Indicates a required field</p>

<%
$required = content_tag(:sup, '*')
def required_label(f, method, label)
    f.label(method, "#{label} #{$required}")
end
def unsized_text(f, method)
    f.text_field(method, :size => nil)
end
$step_count = 0
def step(&block)
    $step_count += 1
    content_tag(:div, :id => "step#{$step_count}", &block)
end
def title(text)
    content_tag(:h2, "Step #{content_tag(:em, $step_count)}: #{content_tag(:span, text)}")
end 
-%>
<%form_for(:submission, :url => submission_path, :html => {:multipart => true}) do |f|%>

<%step do%>
<%=title('Contact Information')%>
<table>
  <tr>
    <td><%=required_label(f, :name, 'Name (Last, First)')%></td> 
    <td><%=unsized_text(f, :name)%></td>
    <%=content_tag(:td, f.error_message_on(:name))%>
  </tr>

  <tr>
    <td><%=required_label(f, :institute, 'Institution')%></td>
    <td><%=unsized_text(f, :institute)%></td>
    <%=content_tag(:td, f.error_message_on(:institute))%>
  </tr>

  <tr>
    <td><%=required_label(f, :Country, 'Country')%></td>
    <td><%=unsized_text(f, :Country)%></td>
    <%=content_tag(:td, f.error_message_on(:Country))%>
  </tr>

  <tr>
    <td><%=required_label(f, :email, 'Email')%></td>
    <td><%=unsized_text(f, :email)%></td>
    <%=content_tag(:td, f.error_message_on(:Email))%>
  </tr>
  </tr>

  <tr>
    <td colspan="2">
      <%=f.radio_button :public, :public, :checked => true%>
      <%=f.label :public_public, :Public%>
      <%=f.radio_button :public, :nonpublic%>
      <%=f.label :public_nonpublic, 'Non-Public'%>
    </td>
    <%=content_tag(:td, f.error_message_on(:public))%>
  </tr>
</table>
<%end-%>

<%step do%>
<%=title('Cruise Information')%>
<table>
  <tr>
    <td><%=f.label :ExpoCode, 'ExpoCode or Cruise Name'%></td>
    <td><%=unsized_text(f, :ExpoCode)%></td>
    <%=content_tag(:td, f.error_message_on(:ExpoCode))%>
  </tr>

  <tr>
    <td><%=f.label :Line, 'WOCE Line (if known)'%></td>
    <td><%=unsized_text(f, :Line)%></td>
    <%=content_tag(:td, f.error_message_on(:Line))%>
  </tr>

  <tr>
    <td><%=f.label :Ship_Name%></td>
    <td><%=unsized_text(f, :Ship_Name)%></td>
    <%=content_tag(:td, f.error_message_on(:Ship_Name))%>
  </tr>

  <tr>
    <td><%=f.label :cruise_date_1i, 'Cruise Date'%></td>
    <td><%=f.date_select :cruise_date, :start_year => 1970, :include_blank => true%></td>
    <%=content_tag(:td, f.error_message_on(:cruise_date))%>
  </tr>
</table>
<%end-%>

<%step do%>
<%=title('Type of Submission')%>
<table>
  <tr>
    <td>
      <%=check_box :actions, :one, {}, 'Merge Data'%>
      <%=label :actions, :one, 'Merge Data'%>
      <%=content_tag(:span, error_message_on(:actions, :one))%>
    </td>

    <td>
      <%=check_box :actions, :two, {}, 'Place Online'%>
      <%=label :actions, :two, 'Place Data Online'%>
      <%=content_tag(:span, error_message_on(:actions, :two))%>
    </td>
  </tr>

  <tr>
    <td>
      <%=check_box :actions, :three, {}, 'Updated Parameters'%>
      <%=label :actions, :three, 'Update Parameters'%>
      <%=content_tag(:span, error_message_on(:actions, :three))%>
    </td>

    <td>
      <%argo = 'Non-public data for Argo calibration (proprietary, rapid-delivery)'%>
      <%=check_box :actions, :four, {}, argo%>
      <%=label :actions, :four, argo%>
      <%=content_tag(:span, error_message_on(:actions, :four))%>
    </td>

  </tr>
</table>

<h3><%=f.label :notes%></h3>
<%=f.text_area :notes, :rows => 5, :cols => 35%>
<%end-%>

<%step do%>
<%=title('Data/Documentation Files')%>
<table>
  <tr>
    <td><%=f.file_field :file%></td>
    <%#<td align="right"><a href="#">Remove this file</a></td>-%>
  </tr>

  <%#
  <tr>
    <td colspan="2">
      <a href="#">Add another file </a><br>
    </td>
  </tr>
  -%>
</table>
<%end-%>
<%=submit_tag(:Submit)%>
<%end-%>


<div id="guide">
<p>
  <a href="/CCHDO_DataSubmitGuide.pdf">Submission Guide</a> |
  <a href="/argo_submission_info.html">Argo Submission Guide</a>
</p>
</div>

</div>
<div class="box_bottom"></div>
</div>
