<%content_for :head do%>
<style type='text/css'>
sup { vertical-align: top; color: red; }
input[type="text"]:focus { background-color: #ffa; }
#step1 input[type="text"] { width: 25ex; }
#step2 input[type="text"] { width: 30ex; }
h2 { margin-top: 0.5em; text-transform: uppercase; font-size: 1.5em; font-weight: bold; }
h2 em { color: #a0a0a0; font-size: 1.2em; vertical-align: text-top; margin-left: -0.2em; }
h2 span { color: #000; font-size: 0.8em; text-transform: none; font-weight: normal; }
</style>
<% end -%>

<div class="boxed">
<h1>Submit Data</h1>

<div class="box_content">

<p>
This form replaces the normal submission form for reliability with all browsers.
</p>

<p><sup>*</sup> Indicates a required field</p>

<%
$required = content_tag(:sup, '*')
def required_label(f, method, label)
    f.label(method, "#{label} #{$required}")
end
def unsized_text(f, method)
    f.text_field(method, :size => nil)
end
$step_count = 0
def step(&block)
    $step_count += 1
    content_tag(:div, :id => "step#{$step_count}", &block)
end
def title(text)
    content_tag(:h2, "Step #{content_tag(:em, $step_count)}: #{content_tag(:span, text)}")
end 
-%>
<%form_for(:submission, :url => submission_path, :html => {:multipart => true}) do |f|%>

<%step do%>
<%=title('Contact Information')%>
<table>
  <tr>
    <td><%=required_label(f, :name, 'Name')%></td> 
    <td><%=unsized_text(f, :name)%></td>
    <%=content_tag(:td, f.error_message_on(:name))%>
  </tr>

  <tr>
    <td><%=required_label(f, :institute, 'Institution')%></td>
    <td><%=unsized_text(f, :institute)%></td>
    <%=content_tag(:td, f.error_message_on(:institute))%>
  </tr>

  <tr>
    <td><%=required_label(f, :Country, 'Country')%></td>
    <td><%=unsized_text(f, :Country)%></td>
    <%=content_tag(:td, f.error_message_on(:Country))%>
  </tr>

  <tr>
    <td><%=required_label(f, :email, 'Email')%></td>
    <td><%=unsized_text(f, :email)%></td>
    <%=content_tag(:td, f.error_message_on(:Email))%>
  </tr>
  </tr>

</table>
<%end-%>

<%step do%>
<%=title('Cruise Information')%>
<table>
  <tr>
    <td><%=f.label :ExpoCode, 'ExpoCode or Cruise Name'%></td>
    <td><%=unsized_text(f, :ExpoCode)%></td>
    <%=content_tag(:td, f.error_message_on(:ExpoCode))%>
  </tr>

  <tr>
    <td><%=f.label :Line, 'WOCE Line (if known)'%></td>
    <td><%=unsized_text(f, :Line)%></td>
    <%=content_tag(:td, f.error_message_on(:Line))%>
  </tr>

  <tr>
    <td><%=f.label :Ship_Name%></td>
    <td><%=unsized_text(f, :Ship_Name)%></td>
    <%=content_tag(:td, f.error_message_on(:Ship_Name))%>
  </tr>

  <tr>
    <td><%=f.label :cruise_date_1i, 'Cruise Date'%></td>
    <td><%=f.date_select :cruise_date, :start_year => 1970, :include_blank => true%></td>
    <%=content_tag(:td, f.error_message_on(:cruise_date))%>
  </tr>
</table>
<%end-%>

<%step do%>
<%=title('Type of Submission')%>
<table>
  <tr>
    <td colspan="2">
      <h3>Status</h3>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%=f.radio_button :public, :public, :checked => true%>
      <%=f.label :public_public, :Public%>
      <%=f.radio_button :public, :nonpublic%>
      <%=f.label :public_nonpublic, 'Non-Public'%>
      <%=f.radio_button :public, :argo%>
      <%=f.label :public_argo, 'Non-Public for Argo calibration'%>
    </td>
    <%=content_tag(:td, f.error_message_on(:public))%>
  </tr>
  <tr>
    <td colspan="2">
      <h3>Action</h3>
    </td>
  </tr>
  <tr>
    <td>
      <%=check_box :actions, :one, {}, 'Merge Data'%>
      <%=label :actions, :one, 'Merge Data'%>
      <%=content_tag(:span, error_message_on(:actions, :one))%>
    </td>

    <td>
      <%=check_box :actions, :two, {}, 'Place Online'%>
      <%=label :actions, :two, 'Place Data Online'%>
      <%=content_tag(:span, error_message_on(:actions, :two))%>
    </td>
  </tr>

  <tr>
    <td>
      <%=check_box :actions, :three, {}, 'Updated Parameters'%>
      <%=label :actions, :three, 'Update Parameters'%>
      <%=content_tag(:span, error_message_on(:actions, :three))%>
    </td>

<!--    <td>
      <%argo = 'Non-public data for Argo calibration (proprietary, rapid-delivery)'%>
      <%=check_box :actions, :four, {}, argo%>
      <%=label :actions, :four, argo%>
      <%=content_tag(:span, error_message_on(:actions, :four))%>
    </td>
-->
  </tr>
</table>

<h3><%=f.label :notes%></h3>
<%=f.text_area :notes, :rows => 5, :cols => 35%>
<%end-%>

<%step do%>
<%=title('Data/Documentation Files')%>
<% unless error_messages_for(:submission).blank? %>
  <p class="notice" style="font-size: 0.75em !important; max-width: none !important; border-bottom: 1px solid #a0a0a0;">For your
  protection, the files you selected previously cannot be
  automatically reselected from your computer (prevents
  malicious pages from uploading arbitrary files from your
  computer). Please reselect the files. We apologize for the
  inconvenience.</p>
<% end %>
<div id="files">
  <p index="0"><%= f.file_field 'files[0]' %></p>
</div>
<%end-%>
<%=submit_tag(:Submit)%>
<%end-%>


<div id="guide">
<p>
  <a href="/CCHDO_DataSubmitGuide.pdf">Submission Guide</a> |
  <a href="/argo_submission_info.html">Argo Submission Guide</a>
</p>
</div>

</div>
<div class="box_bottom"></div>
</div>
<% content_for :js do %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js" %>
<script type="text/javascript">
  jQuery.noConflict();
  jQuery(document).ready(function ($) {
    var files = $('#files');
    files.height(100).css('overflow-y', 'auto');
    files.find('a[title=Remove]').live('click', function () {
      $(this).parent().hide('fast', function () { $(this).remove() });
      if (files.find('p:has(:file)').length <= 1) {
        files.find('p:has(:file) a[title=Remove]').hide('fast');
      }
    });
    files.change(function () {
      $('#step_content42').find('.notice').hide('fast');
    });
    var remove_button = $('<a title="Remove" href="#">Remove</a>').hide();
    var sample_file_selector = files.find('p[index=0]').append(remove_button);
    var addButton = $('<a title="Add file" href="#">Add file</a>').click(function () {
      var i;
      for (i = 1; i < files.find('p:has(:file)').length + 1; i += 1) {
        if (files.find('p[index=' + i + ']').length < 1) {
          break;
        }
      }
      var clone = sample_file_selector.clone(true).attr('index', i).hide();
      clone.find('input')
        .attr('id', sample_file_selector.find('input').attr('id').replace('files[0]', 'files[' + i + ']'))
        .attr('name', sample_file_selector.find('input').attr('name').replace('files[0]', 'files[' + i + ']'));
      clone.appendTo(files).show('fast');
      files.trigger('change').find('p[index!=0] a[title=Remove]').show('fast');
      return false;
    });
    files.parent().append(addButton);
  });
</script>
<%#= javascript_include_tag 'slidemenu', :defaults ->
<script type="text/javascript">window.onload=function () { CCHDO.initSlideMenu(); jQuery('#sf2').animate({'height': 261}, 'fast'); };</script%>
<% end -%>
