<h2 id="<%= basin.downcase %>" class="basin_header"><%= basin.downcase %> Basin</h2>
<table class="<%= basin.downcase %>_table">
  <tr>
    <th width="10%">Line</th>
    <th width="12%">Year(s)</th>
    <th width="20%">Ship</th>
    <th width="20%">Chief Scientist</th>
    <th width="10%">Country</th>
  </tr>
  <% sgroupmap.each_pair do |area, sgroups| -%>
    <% next if sgroups.empty? -%>
    <%
    hl = cycle('highlighted_cell', '', :name => 'hl1')
    area_name = area.gsub('/', '_')
    basin_images = File.join("images", basebasin)

    sgg = sgroups[0]

    expo_path = File.join(basin_images, "#{basebasin}_#{sgg.ExpoCode}.gif")
    area_path = File.join(basin_images, "#{basebasin}_#{area_name}.gif")
    base_name = "#{basebasin}_base"
    if FileTest.exists?(Rails.root.join("public", expo_path))
      image_path = expo_path
      in_map = ''
    elsif FileTest.exists?(Rails.root.join("public", area_path))
      image_path = area_path
      in_map = ''
    else
      image_path = File.join(basin_images, "#{base_name}.gif")
      in_map = 'not_in_map'
    end
    key = area.downcase
    imgswapper = "onmouseover=\"swapImage('#{base_name}','','/#{image_path}',1);\""
    -%>

    <tr valign="top" class="<%= in_map %> <%= hl %>" <%= imgswapper %>>
      <td><a href="/search?query=<%=key%>"><%=sgg.area.upcase.gsub('/', '/ ')%></a></td>
      <% if cruise = sgg.cruise %>
        <td><a href="/cruise/<%=sgg.ExpoCode%>"><%date_year(cruise.Begin_Date)%></a></td> 
        <td><%=cruise.Ship_Name%></td>
        <td><%=contact_cruises(cruise)%></td> 
        <td><%=cruise.Country%></td>
      <% else %>
        <td></td> 
        <td></td>
        <td></td> 
        <td></td>
      <% end %>
    </tr>
    <% if sgroups.length >= 2 -%>
      <tr id="<%= area_name %>-more" class="<%= hl %> expander">
        <td></td>
        <td colspan="4">
          <a href="#<%= area_name %>-more">
            more<img src="/images/expand.png" alt="Show more cruises" title="Show more cruises">
          </a>
        </td>
      </tr>
      <% for sgg in sgroups.slice(1..-1) -%>
        <% hl2 = cycle('odd', 'even', :name => 'hl2') %>
        <tr class="<%= in_map %> more <%= area_name %>-inner <%= hl %>" <%= imgswapper %>>
          <td></td>
          <% if cruise = sgg.cruise %>
            <td class="<%= hl2 %>" width="90"><a href="/cruise/<%=sgg.ExpoCode%>"><%=date_year(cruise.Begin_Date)%></a></td>
            <td class="<%= hl2 %>" width="110"><%=cruise.Ship_Name %></td>
            <td class="<%= hl2 %>" width="160"><%=contact_cruises(cruise)%></td> 
            <td class="<%= hl2 %>" width="120"><%=cruise.Country %></td>
          <% else %>
            <td class="<%= hl2 %>" width="90"></td>
            <td class="<%= hl2 %>" width="110"></td>
            <td class="<%= hl2 %>" width="160"></td> 
            <td class="<%= hl2 %>" width="120"></td>
          <% end %>
        </tr>
      <% end -%>
      <% reset_cycle('hl2') -%>
      <tr id="<%= area_name %>-less" class="<%= hl %> more expander">
        <td></td>
        <td colspan="4">
          <a href="#<%= area_name %>-less">
            Show less cruises<img src="/images/collapse.png" alt="Show less cruises" title="Show less cruises">
          </a>
        </td>
      </tr>
    <% end -%>
  <% end -%>
</table>
