<div class="boxed">

<%= render :partial => 'title', :locals => {:subtitle => 'Details'} %>

<div class="box_content">

<% if @files.blank? -%>
    <p>There are no files.</p>
<% else -%>
    <p>Showing <%= @files.length - @hidden %> of <%= pluralize(@files.length, 'file') %>.</p>
    <p><%= pluralize(@hidden, 'file is', 'files are') %> hidden.</p>

    <table class="status_table">
        <tr>
            <th>Filename</th>
            <th>Hidden</th>
            <th>Downloads</th>
        </tr>
        <% @files.each do |file| %>
            <tr<%= cycle(' class="highlighted_cell"', '') %>>
                <td><%= h(file.filename) %></td>
                <td><%= file.display ? 'no' : 'yes'  %></td>
                <td>
                    <% if file.downloads.blank? %>
                        <p>This file has not yet been downloaded.</p>
                    <% else %>
                        <table>
                            <% file.downloads.each do |dl| %>
                                <tr>
                                    <td><%= h(dl.ip) %></td>
                                    <td><%= dl.created_at.strftime('%Y-%m-%d %H:%M') %> Pacific</td>
                                </tr>
                            <% end %>
                        </table>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
<% end -%>
</div>
<div class="box_bottom"></div>
</div>
