<div class="boxed">

<h1>
  Argo File Repository Stats
  <%= render :partial => 'session' %>
</h1>

<div class="box_content">

<% if @files.blank? -%>
    <p>There are no files.</p>
<% else -%>
    <p>There <%=pluralize(@files.length, 'is', 'are) %> <%= pluralize(@files.length, 'file') %>.</p>
    <p><%= pluralize(@hidden, 'file is', 'files are') %> hidden.</p>

    <table>
        <tr>
            <th>Filename</th>
            <th>Hidden</th>
            <th>Downloads</th>
        </tr>
        <% @files.each do |file| %>
            <tr>
                <td><%= h(file.filename) %></td>
                <td><%= file.display ? 'no' : 'yes'  %></td>
                <td>
                    <% if file.downloads.blank? %>
                        <p>This file has not yet been downloaded.</p>
                    <% else %>
                        <table>
                            <% file.downloads.each do |dl| %>
                                <tr>
                                    <td><%= h(dl.ip) %></td>
                                    <td><%= dl.created_at.strftime('%Y-%m-%d %H:%M') %> Pacific</td>
                                </tr>
                            <% end %>
                        </table>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
<% end -%>

<%= link_to('File repository', argo_files_path) %>
</div>
<div class="box_bottom"></div>
</div>
