<%- if @events.blank? %>
  <h4>No cruise history.</h4>
<%- else %>
  <div id="data_access_history">
    <table>
      <tr>
        <th>Permalink</th>
        <th><%= link_to('Date', :sort_history => 'date') %></th>
        <th><%= link_to('Person', :sort_history => 'person') %></th>
        <th><%= link_to('Data Type', :sort_history => 'data_type') %></th>
        <th><%= link_to('Action', :sort_history => 'action') %></th>
        <th><%= link_to('Summary', :sort_history => 'summary') %></th>
      </tr>
      <% @events.each do |event|
         date_entered = event.Date_Entered || ''
         lastName = event.LastName || ''
         firstName = event.First_Name || ''
         data_type = event.Data_Type || ''
         action = event.Action || ''
         summary = event.Summary || 'full note'
         cycle_class = cycle '', ' hl'
         if summary.blank?
           summary = 'full note'
         end
      -%>
        <%- noteid = "note_#{event.ID}" %>
        <tr class="note_header<%= cycle_class -%>" id="<%= noteid %>">
          <td class="permalink"><%= link_to(event.ID, "##{noteid}") %></td>
          <td class="date"><%= date_entered -%></td>
          <td class="person"><%= event.LastName %>, <%= event.First_Name -%></td>
          <td><%= data_type -%></td>
          <td><%= action -%></td>
          <td>
            <%= content_tag(:span, summary, :class => "history-summary") %>
          </td>
        </tr>
        <tr class="note_detail<%= cycle_class -%>" id="<%= noteid %>_detail">
          <td class="note" colspan="6">
            <textarea readonly="true" rows="<%= estimate_textarea_height(event.note, 150) %>"><%= event.note -%></textarea>
          </td>
        </tr>
      <% end # for events -%>
    </table>
  </div>
<%- end %>
