<%- if @events.blank? %>
  <h4>No cruise history.</h4>
<%- else %>
  <div id="data_access_history">
    <table>
      <tr>
        <th>Permalink</th>
        <th><%= link_to('Date', :sort_history => 'date') %></th>
        <th><%= link_to('Person', :sort_history => 'person') %></th>
        <th><%= link_to('Data Type', :sort_history => 'data_type') %></th>
        <th><%= link_to('Action', :sort_history => 'action') %></th>
        <th><%= link_to('Summary', :sort_history => 'summary') %></th>
      </tr>
      <% @events.each do |event|
         date_entered = event.Date_Entered || ''
         lastName = event.LastName || ''
         firstName = event.First_Name || ''
         data_type = event.Data_Type || ''
         action = event.Action || ''
         summary = event.Summary || 'full note'
         cycle_class = cycle '', ' hl'
         if summary.blank?
           summary = 'full note'
         end
      -%>
        <%- noteid = "note_#{event.ID}" %>
        <tr class="note_header<%= cycle_class -%>" id="<%= noteid %>">
          <td class="permalink"><%= link_to(event.ID, "##{noteid}") %></td>
          <td class="date"><%= date_entered -%></td>
          <td class="person"><%= event.LastName %>, <%= event.First_Name -%></td>
          <td><%= data_type -%></td>
          <td><%= action -%></td>
          <td>
            <%= content_tag(:span, summary, :class => "history-summary") %>
          </td>
        </tr>
        <tr class="note_detail<%= cycle_class -%>" id="<%= noteid %>_detail">
          <td class="note" colspan="6">
            <textarea readonly="true" rows="<%= event.note.split("\n").length %>"><%= event.note -%></textarea>
          </td>
        </tr>
      <% end # for events -%>
    </table>
  </div>
<%- end %>
<% content_for :js do %>
  <script>
    jQuery(function($) {
      $(function() {
        function getNoteDetail(header) {
          var detail_id = '#' + header.attr('id') + '_detail';
          return $(detail_id);
        }
        $('.note_header').click(function() {
          var detail = getNoteDetail($(this));
          console.log(detail);
          var shown = detail.data('shown');
          if (shown === undefined) {
            shown = true;
          }
          if (shown) {
            detail.data('shown', false);
            detail.hide();
          } else {
            detail.data('shown', true);
            detail.show();
          }
        });
        var toggle_button = $('<button>');
        toggle_button.click(function() {
          if ($(this).data('details')) {
            $(this).data('details', false);
            $(this).html('Show all note details');
            $('.note_header').each(function() {
              getNoteDetail($(this)).data('shown', false).hide();
            });
          } else {
            $(this).data('details', true);
            $(this).html('Hide all note details');
            $('.note_header').each(function() {
              getNoteDetail($(this)).data('shown', true).show();
            });
          }
        });
        // Automatically expand all history notes if sent here with history
        // notes opened
        if (window.location.hash == '#history') {
          toggle_button.data('details', false).click();
        // Automatically expand the one history notes if sent here with one
        // history note opened
        } else if (window.location.hash.indexOf('#note_') > -1) {
          toggle_button.data('details', true).click();
          $(window.location.hash).addClass('active').click();
          $(window.location.hash + '_detail').addClass('active');
        } else {
          toggle_button.data('details', true).click();
        }
        $('#data_access_history').prepend(toggle_button);
    });
  });
  </script>
<% end -%>
