<% if @events.blank? %>
  <h4>No cruise history.</h4>
<% else %>
<div id="data_access_history">
  <table>
    <tr><th>Date</th><th>Data Type</th><th>Action</th><th>Summary</th></tr>
    <% @events.each do |event|
       date_Entered = event.Date_Entered || ''
       lastName = event.LastName || ''
       firstName = event.First_Name || ''
       data_Type = event.Data_Type || ''
       action = event.Action || ''
       summary = event.Summary || 'None'
       cycle_class = cycle '', ' class="hl"'
    -%>
    
     <tr<%= cycle_class -%>>
       <td class="date"><%= date_Entered -%></td>
       <td><%= data_Type -%></td>
       <td><%= action -%></td>
       <td>
         <%= link_to_remote(summary,
           :update => "note_#{event.ID}",
           :loaded => "$('note_#{event.ID}').show();",
           :url => {:controller => 'data_access',
                    :action => 'note',
                    :Entry => event.ID}) -%>
       </td>
     </tr>
     <tr<%= cycle_class -%>>
       <td id="note_<%= event.ID -%>" colspan="4"></td>
     </tr>
    <% end # for events -%>
  </table>
</div>
<% end -%>
