<% unless @cruise -%>

  <div class="boxed">
  <h1>Cruise not found</h1>
  <div class="box_content">
    <p>Cruise <%=params[:ExpoCode] %> does not exist.</p>
  </div>
  <div class="box_bottom"></div>
  </div>

<% else -%>

<div class="data_access">
<%- updates_available = !(@queue_files.blank? and @merged_queue_files.blank?) %>
<div class="information left">

<%# General Information and Files column %>
<div id="general" class="boxed">
<h1>Cruise Information</h1>
<div class="box_content">

<% if big = @file_result['big_pic'] and big != 0 and
      small = @file_result['small_pic'] and small != 0 %>
  <div class="thumb">
    <a href="<%=big%>"><p><img src="<%=small%>"></p><p class="caption">Full Size</p></a>
  </div>
<% end %>
<p><strong>ExpoCode:</strong> <%= @cruise.ExpoCode %></p>
<p><strong>Line:</strong> <%= @cruise.Line %></p>
<% if @cruise.Alias and @cruise.Alias =~/\w/ %>
  <p><strong>Alias:</strong> <%= @cruise.Alias %></p>
<% end %>
<p><strong>Ship/Country:</strong> <%=self_or_empty(@cruise.Ship_Name)%>/<%=self_or_empty(@cruise.Country)%></p>
<p><strong>Chief Scientists:</strong> <%=self_or_empty(@cruise.Chief_Scientist)%></p>
<p><strong>Cruise Dates:</strong> <%= pretty_dates(@cruise) %></p>
<%#- if @cruise.track_line %>
<%# <p><strong>Stations:</strong> <%= @cruise.track_line.Track.length ></p> %>
<%#- end %>
<% if @cruise.link %>
  <p><strong>Expedition Link:</strong> <%= link_to(@cruise.link, @cruise.link) %></p>
<% end %>
<%- if session[:user] %>
  <p><strong>Aliases:</strong> <%= @cruise.Alias %></p>
  <p><strong>Groups:</strong> <%= @cruise.Group %></p>
  <p><strong>Cruise dir:</strong> <%= @cruise.data_dir() %></p>
  <p><strong>Id:</strong> <%= @cruise.id %></p>
<%- end %>

</div>
<div class="box_bottom"></div>
</div>

<div id="data" class="boxed data-formats">
<h1>Dataset</h1>
<div class="box_content">

<%= content_tag(:p, @preliminary, :class => "status-preliminary") if @preliminary -%>
<%= show_files(@cruise, @file_result) %>

</div>
<div class="box_bottom"></div>
</div>
<%# End Data Info and Files column -%>
</div>

<%= render :partial => 'cruise_data_updates' %>

<div class="clear"></div>
<%= render :partial => 'cruise_data_history' %>
</div>

  <%- content_for :js do %>
    <%= javascript_include_tag 'datacart', 'click_tracker' -%>
  <%- end %>
<% end -%>
