<% unless @cruise -%>

  <div class="boxed">
  <h1>Cruise not found</h1>
  <div class="box_content">
    <p>Cruise <%=params[:ExpoCode] %> does not exist.</p>
  </div>
  <div class="box_bottom"></div>
  </div>

<% else -%>

<div class="data_access">

<%# General Information and Files column %>
<div id="left" class="boxed">
<h1>General Information and Files</h1>
<div class="box_content">

<h2>General Information</h2>

<% if big = @file_result['big_pic'] and big != 0 and
      small = @file_result['small_pic'] and small != 0 %>
  <div class="thumb">
    <a href="<%=big%>"><p><img src="<%=small%>"></p><p class="caption">Full Size</p></a>
  </div>
<% end %>

<%
  def self_or_empty(x)
    x ? x : ''
  end

  def date_or_empty(date)
    date ? date.strftime("%a %b %e, %Y") : ''
  end
%>
<p><strong>ExpoCode:</strong> <%= @cruise.ExpoCode %></p>
<p><strong>Line:</strong> <%= @cruise.Line %></p>
<% if @cruise.Alias and @cruise.Alias =~/\w/ %>
  <p><strong>Alias:</strong> <%= @cruise.Alias %></p>
<% end %>
<p><strong>Ship/Country:</strong> <%=self_or_empty(@cruise.Ship_Name)%>/<%=self_or_empty(@cruise.Country)%></p>
<p><strong>Chief Scientists:</strong> <%=self_or_empty(@cruise.Chief_Scientist)%></p>
<p><strong>Cruise Dates:</strong> <%=date_or_empty(@cruise.Begin_Date)%> <b>-</b> <%=date_or_empty(@cruise.EndDate)%></p>

<% unless @queue_files.empty? -%>
  <p><a href="#updates" class="important">See additional submitted files below</a></p>
<% end -%>

<div class="clear"></div>

<h2>Data Files</h2>

<%=content_tag(:p, @preliminary, :class => "preliminary important") if @preliminary -%>

<%
file_sections = [
  [:Exchange,
    [
      ['exchange_ctd', ['CTD', 'ZIP archive of ASCII .csv CTD data with station information']],
      ['exchange_bot', ['BOT', 'ASCII .csv bottle data with station information']],
    ]
  ],
  [:NetCDF,
    [
      ['netcdf_ctd', ['CTD', 'ZIP archive of binary CTD data with station information']],
      ['netcdf_bot', ['BOT', 'Binary bottle data with station information']],
    ]
  ],
  [:WOCE,
    [
      ['woce_sum', ['SUM', 'ASCII station/cast information']],
      ['woce_ctd', ['CTD', 'ASCII CTD data without station information']],
      ['woce_bot', ['BOT', 'ASCII bottle data without station information']],
      ['large_volume', ['Large Volume', 'ASCII bottle data without station information']],
    ]
  ],
  [:Documentation,
    [
      ['text_doc', ['Text', 'ASCII cruise and data documentation']],
      ['pdf_doc', ['PDF', 'Portable Document Format cruise and data information']],
    ]
  ]
]
-%>

<% for section, filetypes in file_sections -%>
  <%=content_tag(:h3, section)-%>
  <% for type, display in filetypes -%>
    <% if file = @file_result[type] and file != 0 -%>
      <p><%=link_to(display[0], file)%> - <%=display[1]-%></p>
    <% end -%>
  <% end -%>
<% end -%>
  
</div>
<div class="box_bottom"></div>
</div>
<%# End Data Info and Files column -%>

<%# Data Histories and Notes column -%>
<div id="right" class="boxed">
<h1>Data Histories and Notes</h1>
<div class="box_content">

<%=content_tag(:h2, link_to('Data Histories', "/data_history?ExpoCode=#{@cruise.ExpoCode}"))-%>
<%= render :partial => 'history' -%>

</div>
<div class="box_bottom"></div>
</div>
<%# End Data Histories and Notes column -%>

<div class="clear"></div>

<%# Updates Section -%>
<% unless @queue_files.blank? and @merged_queue_files.blank? -%>
<div id="updates" class="boxed">
<h1>Updates</h1>
<div class="box_content">
  <% unless @queue_files.blank? -%>
    <h2>Files as received</h2>
    <table>
      <tr><th>File</th><th class="date">Date&nbsp;Received</th><th>Notes</th><th></th></tr>
      <% @queue_files.each do |file| -%>
        <tr>
          <%=content_tag(:td, link_to(file.Name, file.UnprocessedInput)) -%>
          <td class="date"><%=file.DateRecieved -%><%# sic %></td>
          <td class="notes"><%=file.Notes if file.Notes -%></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% unless @merged_queue_files.blank? -%>
    <h2>Merged Files</h2>
    <table class="merged">
      <tr><th>File</th><th class="date">Date&nbsp;Merged</th></tr>
      <% @merged_queue_files.each do |file| -%>
        <tr>
          <%=content_tag(:td, link_to(file.Name, file.UnprocessedInput)) -%>
          <td class="date"><%=file.DateMerged -%><%# sic %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<div class="box_bottom"></div>
</div>
<% end %>
<%# End Updates Section -%>

</div>

<% end -%>
