<div class="boxed">
<h1>Queue</h1>
<div class="box_content queue">
  <ul>
    <li><%= link_to('Add queue file', queue_new_path) %></li>
  </ul>
  <table class="tabs">
    <%- for t in ['data', 'docs'] %>
      <tr>
        <%- for s in ['unmerged', 'hidden', 'merged'] %>
          <%- ccls = s + ' ' + t %>
          <%- q = cls_to_query(ccls) %>
          <%- if ccls == cls() %>
            <%- tdcls = ccls + ' active' %>
          <%- else %>
            <%- tdcls = ccls %>
          <%- end %>
          <td class="<%= tdcls %>">
            <%= link_to(cls_to_title(ccls), queue_path(q), :class => 'link') %>
            <%= link_to('CSV', queue_path(q), :class => 'csv') %>
          </td>
        <%- end %>
      </tr>
    <%- end %>
  </table>
  <div class="queue-box <%= cls() %>">
    <%= render :partial => 'queue_box' %>
  </div>
</div>
<div class="box_bottom"></div>
</div>
<% content_for :js do %>
<script>
  jQuery(document).ready(function($) {
    $('.editor').each(function () {
      var editbox = $(this);
      var button = $('<button>Show edit</button>');

      editbox.hide();
      var line = editbox.prev();
      var tdbutton = $('<td class="editbutton farright">');
      tdbutton.append(button);
      line.append(tdbutton);
      button.click(function () {
        if (button.html() == 'Show edit') {
          editbox.show();
          button.html('Hide edit');
        } else {
          editbox.hide();
          button.html('Show edit');
        }
      });
    });
  });
</script>
<% end %>
