<div class="boxed">
<h1>Parameter Descriptions</h1>
<div class="box_content">
<table id="parameter_descriptions_table" rules="rows" class="parameter_list"  >
<tr><td COLSPAN=8><hr size="1"></td></tr>
<tr>
	<td class="parameter_order"COLSPAN=8>PRIMARY PARAMETERS</td>
</tr>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<tr>
	<td class="parameter_header">Name</td>
	<td class="parameter_header">Alias</td>
	<td class="parameter_header">Full Name</td>
	<td class="parameter_header">Description</td>
	<td class="parameter_header">Units</td>
	<td class="parameter_header">Unit Mnemonics</td>
	<td class="parameter_header">Range</td>
	<td class="parameter_header">Precision</td>
</tr>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<% ctr = 0 %>
<% for row in @parameters%>
   <% if row.Private == 0 and @primary.include?(row.Parameter.strip) %>
    <% if ctr % 2 == 0 %>
        <tr>
    <% else %>
    	<tr  class="hl">
    <% end %>
   	    <td >
	    	<%= row.Parameter%>
	    </td>
	    <td>
	    	<% if row.Alias =~ /\w/ %>
	    	  <%= row.Alias.gsub(/,/,", ") %>
	    	<% end %>
	    </td>
	    <td >
	    	<%= row[:FullName] %>
	    </td>
	    <td>
	    	<%= row.Description %>
	    </td>
	    <td>
	    	<%= row.Units %>
	    </td>
	    <td>
	    	<%= row.Unit_Mnemonic %>
	    </td>
	    <td>
	    	<%= row.Range %>
	    </td>
	    <td>
	    	<%= row.Precision %>
	    </td>
    </tr>
    <% ctr += 1 %>
   <% end %>
<% end %>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<tr><td class="parameter_order" COLSPAN=8>SECONDARY PARAMETERS</td></tr>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<tr>
    	<td class="parameter_header">Name</td>
        <td class="parameter_header">Alias</td>
        <td class="parameter_header">Full Name</td>
        <td class="parameter_header">Description</td>
        <td class="parameter_header">Units</td>
        <td class="parameter_header">Unit Mnemonics</td>
        <td class="parameter_header">Range</td>
        <td class="parameter_header">Precision</td>
</tr>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<% for row in @parameters%>
   <% if row.Private == 0 and @secondary.include?(row.Parameter.strip) %>
    <% if ctr % 2 == 0 %>
        <tr>
    <% else %>
    	<tr  class="hl">
    <% end %>
   	    <td >
	    	<%= row.Parameter%>
	    </td>
	    <td>
	    	<% if row.Alias =~ /\w/ %>
	    	  <%= row.Alias.gsub(/,/,", ") %>
	    	<% end %>
	    </td>
	    <td >
	    	<%= row[:FullName] %>
	    </td>
	    <td>
	    	<%= row.Description %>
	    </td>
	    <td>
	    	<%= row.Units %>
	    </td>
	    <td>
	    	<%= row.Unit_Mnemonic %>
	    </td>
	    <td>
	    	<%= row.Range %>
	    </td>
	    <td>
	    	<%= row.Precision %>
	    </td>

    </tr>
    <% ctr += 1 %>
   <% end %>
<% end %>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<tr><td class="parameter_order"COLSPAN=8>TERTIARY PARAMETERS</td></tr>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<tr>
	    <td class="parameter_header">Name</td>
        <td class="parameter_header">Alias</td>
        <td class="parameter_header">Full Name</td>
        <td class="parameter_header">Description</td>
        <td class="parameter_header">Units</td>
        <td class="parameter_header">Unit Mnemonics</td>
        <td class="parameter_header">Range</td>
        <td class="parameter_header">Precision</td>
</tr>
<tr><td COLSPAN=8><hr size="1"></td></tr>
<% for row in @parameters%>
   <% if row.Private == 0 and (@tertiary.include?(row.Parameter.strip) or (!@primary.include?(row.Parameter.strip) and !@secondary.include?(row.Parameter.strip))) %>
    <% if ctr % 2 == 0 %>
        <tr>
    <% else %>
    	<tr  class="hl">
    <% end %>
   	    <td >
	    	<%= row.Parameter%>
	    </td>
	    <td>
	    	<% if row.Alias =~ /\w/ %>
	    	  <%= row.Alias.gsub(/,/,", ") %>
	    	<% end %>
	    </td>
	    <td >
	    	<%= row[:FullName] %>
	    </td>
	    <td>
	    	<%= row.Description %>
	    </td>
	    <td>
	    	<%= row.Units %>
	    </td>
	    <td>
	    	<%= row.Unit_Mnemonic %>
	    </td>
	    <td>
	    	<%= row.Range %>
	    </td>
	    <td>
	    	<%= row.Precision %>
	    </td>

    </tr>
    <% ctr += 1 %>
   <% end %>
<% end %>
</table>
</div>
<div class="box_bottom"></div>
</div>
